#define TELEPORT_LEADER SIDE X Y
  [teleport]
    [filter]
      canrecruit=yes
      side={SIDE}
    [/filter]
    x,y={X},{Y}
    clear_shroud=yes
    animate=yes
  [/teleport]
#enddef

#define SPEAK SIDE TEXT
  [message]
    canrecruit=yes
    side={SIDE}
    message={TEXT}
  [/message]
#enddef

#define AZ_SPEAKS TEXT
  [message]
    speaker="Az"
    message={TEXT}
  [/message]
#enddef

#define SPAWN_LEADER SIDE TYPE X Y
  [unit]
    side={SIDE}
    generate_name=yes
    type={TYPE}
    random_traits=yes
    x,y={X},{Y}
    canrecruit=true
  [/unit]
#enddef

#define BACK_TO_AZ
    {TELEPORT_LEADER 1 40 40}
    {TELEPORT_LEADER 2 42 40}
    {TELEPORT_LEADER 3 40 41}
    {TELEPORT_LEADER 4 42 41}
    [scroll_to]
      x=41
      y=41
    [/scroll_to]
#enddef
